:root {
  --blue: #2c67ff;
  --font-color: #323232;
  --light-text: #a3a3a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  letter-spacing: 1px;
  color: var(--light-text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

.paddingNav {
  padding-bottom: 80px;
}

.container {
  max-width: 1200px;
  padding-inline: 1rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--font-color);
  letter-spacing: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
