.searchBarContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  position: relative;
}

.input {
  padding: 8px 20px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #1976d2;
}
